# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Flutter/Dart
.dart_tool/
build/
.packages
pubspec.lock

# Others
*.log
